{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "sourceType": "module"
}
