$color-white: #fff;
$color-wall: #afafaf;
$color-player: #d06fff;
$color-enemy: #ff0000;;
$color-weapon: #7991ec;
$color-health: #80af13;
$color-space: #fff;

$std-offset: 12px;
$half-offset: $std-offset / 2;
$fourth-offset: $std-offset / 4;

.game {
  text-align: center;
}

.dangeon {
  display: inline-block;
}

.dangeon-row {
  height: 20px;
}

.dangeon-cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $color-white;
}

.cell-wall {
  background-color: $color-wall;
}

.cell-player {
  background-color: $color-player;
}

.cell-enemy {
  background-color: $color-enemy;
}

.cell-weapon {
  background-color: $color-weapon;
}

.cell-health {
  background-color: $color-health;
}

.cell-space {
  background-color: $color-space;
}

.info-item {
  display: inline-block;
  margin: $half-offset;

  h2 {
    display: inline-block;
    margin: $fourth-offset;
    font-size: 12px;
  }

  p {
    display: inline-block;
    margin: $half-offset;
    font-size: 12px;
  }
}

.game-state {
  position: relative;
  top: 10em;
  margin: 0 auto;
  border-radius: 5px;
  background: red;
  color: gray;

  h2 {
    display: inline-block;
    vertical-align: middle;
  }
}

.game-ok {
  width: 0;
  transition: opacity .75s ease-in, width .5s ease-in, height .3s ease-in;
  opacity: 0;
}

.game-over {
  width: 20em;
  height: 5em;
  transition: opacity .75s ease-out, width .5s ease-out, height .3s ease-out;
  opacity: 1;
}
