$color-white: #fff;
$color-wall: #aaa;
$color-player: #b10dc9;
$color-enemy: #fe452c;
$color-weapon: #7991ec;
$color-health: #2ecc40;
$color-space: #fff;
$color-entry: #8a6a53;
$color-exit: #58323d;
$std-offset: 12px;
$half-offset: $std-offset / 2;
$fourth-offset: $std-offset / 4;

.rounded {
  border-radius: $half-offset;
}

.game {
  text-align: center;
}

.dangeon {
  @include stack-effect(2);
  //position: relative;
  display: inline-block;
  padding: $std-offset;
  background: black(.7);
}

.dangeon-cell {
  display: inline-block;
  background-color: $color-white;
}

.cell-wall {
  background-color: $color-wall;
}

.cell-player {
  background-color: $color-player;
}

.cell-enemy {
  background-color: $color-enemy;
}

.cell-weapon {
  background-color: $color-weapon;
}

.cell-health {
  background-color: $color-health;
}

.cell-entry {
  background-color: $color-entry;
}

.cell-exit {
  background-color: $color-exit;
}

.cell-space {
  background-color: $color-space;
}

.cell-hidden {
  height: inherit;
  background-color: black(.8);
}

.item {
  display: inline-block;
  margin: $std-offset;

  h2 {
    display: inline-block;
    margin: $fourth-offset;
    font-size: 12px;
  }

  p {
    display: inline-block;
    margin: $half-offset;
    font-size: 12px;
  }

  div {
    display: inline-block;
    margin: $half-offset;
  }
}

.game-state {
  position: absolute;
  top: 25%;
  border-radius: 5px;
  background: $color-enemy;
  color: $color-white;

  h2 {
    display: inline-block;
    vertical-align: middle;
  }
}

.game-ok {
  right: 50%;
  left: 50%;
  height: 0;
  transition: opacity .3s ease-in, height .3s ease-in;
  opacity: 0;
}

.game-over {
  right: 25%;
  left: 25%;
  height: 15em;
  transition: opacity .3s ease-out, height .3s ease-out;
  opacity: 1;
}


.hint-header {
  height: 1.5em;
}

.hint-cell {
  width: 1.5em;
  height: 1.5em;
  vertical-align: bottom;
}
